<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div id="app">
    <div class="main-input">
        <template v-if="compoentsName == 'input-radio' ">
            <input-radio :vals="radioData.vals" :name="radioData.name" :index="radioData.defaultIndex">
                <p>1:请问您的性别是：</p>
            </input-radio>
            <button class="input-left"  @click="compoentsName = 'input-checkbox'">下一步</button>
            <button @click="radioReset" class="input-right">重置</button>
        </template>
        <template v-if="compoentsName == 'input-checkbox'">
            <input-checkbox :vals="checkboxData.valNames" :value="checkboxData.value">
                <p>2:请选择您的兴趣爱好：</p>
            </input-checkbox>
            <button class="input-left" @click="compoentsName ='input-textarea'">下一步</button>
            <button class="input-center"  @click="compoentsName = 'input-radio'">上一步</button>
            <button @click="checkboxRest" class="input-right">重置</button>
        </template>
        <template v-if="compoentsName == 'input-textarea'">
            <input-textarea>
                <p>3：请接受一下自己：</p>
            </input-textarea>
            <button class="input-left">提交</button>
            <button class="input-center"  @click="compoentsName = 'input-checkbox'">上一步</button>
            <button @click="textareaRest" class="input-right">重置</button>
        </template>
    </div>
    <div class="main-footer">

    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="componetns/run.js"></script>
<script src="componetns/input-radio.js"></script>
<script src="componetns/input-checkbox.js"></script>
<script src="componetns/input-textarea.js"></script>
<script>
let app = new Vue({
        el:'#app',
        data:{
            radioData:{
                vals:['男','女','保密'],
                name:'inpu-radio',
                defaultVal:'女',
                value:'女',
            },
            checkboxData:{
                valNames:[
                    '看书',
                    '游泳',
                    '跑步',
                    '看电影',
                    '听音乐'
                ],
                name:'input-checkbox',
                defaultVal:'看书',
                value:'看书'
            },
            textraeaData:{
                html:'不少于100字',
                defaultHtml:'不少于100字'
            },
            compoentsName:'input-radio'
        },
        components:{
            'input-radio':inputRadio,
            'input-checkbox':inputCheckbox,
            'input-textarea':inputTextarea
        },
        methods:{
            radioReset:function () {
                run.$emit('on-input-radio-reset',this.radioData.defaultVal);
            },
            checkboxRest:function(){
                run.$emit('on-input-checkbox-reset',this.checkboxData.defaultVal);
            },
            textareaRest:function(){
                run.$emit('on-input-textarea-reset',this.textraeaData.defaultHtml);
            },
        },
        mounted:function () {
            run.$on('on-input-radio',(val) => {
                    this.radioData.value = val;
            });
            run.$on('on-input-checkbox',(val) =>{
                this.checkboxData.value = val;
            });
            run.$on('on-input-textraea',(val) =>{
                this.textraeaData.html = val;
            });
        }
    });
</script>
</html>